.esri-interactive-legend {
  min-width: 300px;
  outline: none;
}


.esri-interactive-legend--layer-row.esri-interactive-legend__filter-layer-row {
  display: flex;
  width: 100%;
  padding: 5% 6%;
  margin-bottom: 3.5px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
}

.esri-interactive-legend__legend-info-container {
  width: 90%;
}


.esri-interactive-legend__layer {
  margin-left: 0;
  padding-left: 5%;
  padding-right: 5%;
}


.esri-interactive-legend--layer-row.esri-interactive-legend__filter-layer-row.esri-interactive-legend--selected-row {
  background-color: #f5f5f5;
}

.esri-interactive-legend--layer-row:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.esri-interactive-legend__loader-container {
  position: absolute;
  right: 1.5vw;
  top: 1vh;
}

.esri-interactive-legend__service {
  padding: 0;
}

.esri-legend__layer-body {
  margin-left: 0;
}


.esri-interactive-legend__loader {
  margin: 0 auto;
  width: 100%;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../../../assets/loader-ie9.gif);

}

.esri-legend__service-label {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.esri-interactive-legend__prevent-scroll {
  overflow-anchor: none;
}

.dijitTooltip {
  z-index: 1000;
}

.esri-interactive-legend--error {
  margin: 5px 0;
  color: red;
  white-space: normal
}

.esri-interactive-legend__onboarding-main-container {
  padding-bottom: 5%;
  color: #4c4c4c;
}

.esri-interactive-legend__onboarding-content-container {
  padding: 0% 6%;
}

.esri-interactive-legend__onboarding-close-container {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
}

.esri-interactive-legend__onboarding-close-container:hover {
  cursor: pointer;
}

.esri-interactive-legend__onboarding-title-container {
  padding-top: 9%;
}

.esri-interactive-legend__onboarding-title-container h3 {
  font-size: 1.3rem;
  margin: 3% 0;
  color: #0079c1;
}

.esri-interactive-legend__onboarding-info-container {
  font-size: 16px;
  line-height: 26px;
  width: 95%;
}

.esri-interactive-legend__onboarding-button-container button {
  margin: 0 auto;
  display: block;
  width: 88%;
}

.esri-interactive-legend {

  .esri-interactive-legend__title-container {
    background-color: #fff;

    .esri-interactive-legend__label {
      font-size: 15px;
      text-align: center;
      padding-top: 15px;
      font-weight: normal;
      padding: 7px 0;
      margin-bottom: 0;
    }
  }

  .esri-interactive-legend__interactive-styles {
    background-color: #f5f5f5;
    height: 100%;

    .esri-interactive-legend__filter-layer-row {
      .esri-interactive-legend__legend-info-container {
        font-size: 16px;
      }
    }

    .esri-interactive-legend__layer-caption {
      text-align: center;
      padding: 5px 0;
      font-size: 14px;
      font-weight: 550;
    }

    .esri-interactive-legend__visible-icon {
      color: #323232;

    }

    .esri-interactive-legend__non-visible-icon {
      color: #a9a9a9;
    }

    .esri-interactive-legend__ramp-layer-row {
      position: relative;
    }

    .esri-legend__ramps {
      margin-left: 0;
    }

    .esri-legend__layer-cell--info {
      font-size: 13px;
    }

  }



}

:not(.esri-interactive-legend__filter-layer-row) {
  outline: none;
}
