.parent-container,
#main-container {
  height: 100%;
}

#main-container {
  display: inline-block;
}

#main-container {
  width: 100%;
}

#view-parent-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5%;
  background-color: #fff;
  color: #949494;
  padding-left: 1vw;
  z-index: 2000;
}

.app-title {
  align-self: center;
  margin: 0;
  font-size: 1.40307rem;
}

#main-container {
  height: 95%;
}

.menu-button:hover {
  cursor: pointer;
  color: #2a2a2a
}

.esri-interactive-legend {
  min-width: 300px;
}


.esri-interactive-legend--layer-row.esri-interactive-legend__filter-layer-row {
  display: flex;
  width: 95%;
  padding: 5% 6%;
  margin: 5px auto;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
}

.esri-interactive-legend__legend-info-container {
  width: 90%;
}

.esri-interactive-legend__layer-caption {
  text-align: center;
  font-weight: bold;
  padding: 0;
  font-size: 1em;
}

.esri-interactive-legend__label {
  text-align: center;
  padding-top: 15px;
  font-size: 1.25em;
}

.esri-interactive-legend__layer {
  margin-left: 0;
}

// .esri-interactive-legend__layer-table {
//   background-color: #f3f3f3;
// }

.esri-interactive-legend--layer-row.esri-interactive-legend__filter-layer-row.esri-interactive-legend--selected-row {
  background-color: #d2d2d2;
  text-shadow: 0.75px 0.75px #fff;
  color: #000;
}

.esri-interactive-legend--layer-row:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.esri-interactive-legend__loader-container {
  position: absolute;
  right: 1.5vw;
  top: 1vh;
}

.esri-interactive-legend__service {
  padding: 0;
}

.esri-legend__layer-body {
  margin-left: 0;
}


.esri-interactive-legend__loader {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../../../assets/loader-ie9.gif);

}

.esri-legend__service-label {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.esri-interactive-legend__prevent-scroll {
  overflow-anchor: none;
}

.dijitTooltip {
  z-index: 1000;
}

.esri-interactive-legend--error {
  margin: 5px 0;
  color: red;
  white-space: normal
}

.esri-interactive-legend__onboarding-main-container {
  padding-bottom: 5%;
}

.esri-interactive-legend__onboarding-content-container {
  padding: 4% 7% 0% 7%;
}

.esri-interactive-legend__onboarding-close-container {
  position: absolute;
  right: 3px;
}

.esri-interactive-legend__onboarding-close-container:hover {
  cursor: pointer;
}

.esri-interactive-legend__onboarding-title-container h3 {
  font-size: 1.29rem;
  margin: 3% 0;
  text-align: center;
}

.esri-interactive-legend__onboarding-info-container {
  font-size: 17px;
  line-height: 26px;
}

.esri-interactive-legend__onboarding-button-container button {
  margin: 0 auto;
  display: block;
  width: 88%;
}
