.parent-container,
#main-container {
  height: 100%;
}

#main-container {
  display: inline-block;
}

#main-container {
  width: 100%;
}

#view-parent-container {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5%;
  background-color: #fff;
  color: #949494;
  padding-left: 1vw;
  z-index: 2000;
}

.app-title {
  align-self: center;
  margin: 0;
  font-size: 1.40307rem;
}

#main-container {
  height: 95%;
}

.menu-button:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #2a2a2a
}




.esri-interactive-legend--layer-row.esri-interactive-legend__filter-layer-row {
  display: block;
  transition: 0.2s;
  width: 100%;
  padding: 1% 2%;
}

.esri-interactive-legend--selected-row {
  background-color: #f1f1f1;
}

.esri-interactive-legend--layer-row:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #f3f3f3;
}

.esri-interactive-legend__loader-container {
  position: absolute;
  right: 1.5vw;
  top: 1vh;
}

.esri-interactive-legend__svg-rect-element {
  transition: opacity 0.2s;
}

.esri-interactive-legend__svg-rect-element:hover {
  opacity: 0.5;
  cursor: pointer;
}

.esri-interactive-legend--simple-fill-row {
  transition: opacity 0.2s
}

.esri-interactive-legend--simple-fill-row:hover {
  opacity: 0.5;
  cursor: pointer;
}

.esri-interactive-legend--selected-cell {
  stroke: rgb(0, 0, 0);
  stroke-width: 1.2;
}

.esri-interactive-legend__loader {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../../../assets/loader-ie9.gif);

}

.esri-interactive-legend__card-loader {
  position: relative;
  top: 24.5%;
}

.esri-interactive-legend__card-container {
  margin: 0 auto;
}



.esri-legend__service-label {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.esri-interactive-legend__prevent-scroll {
  overflow-anchor: none;
}

.dijitTooltip {
  z-index: 1000;
}


.esri-interactive-legend--error {
  margin: 5px 0;
  color: red;
  white-space: normal
}
